<?xml version="1.0" encoding="UTF-8"?>

<menuPrincipal>
	<menu descricao="Arquivo">
		<menu classeFabrica="br.com.persist.objeto.ObjetoFabrica" />
		<menu classeFabrica="br.com.persist.objeto.DesktopFabrica" />
		<menu classeFabrica="br.com.persist.plugins.anexo.AnexoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.arquivo.ArquivoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.principal.PrincipalFabrica" ativo="true" />
	</menu>

	<menu descricao="Banco">
		<menu classeFabrica="br.com.persist.plugins.conexao.ConexaoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.consulta.ConsultaFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.update.UpdateFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.metadado.MetadadoTreeFabrica" />
	</menu>

	<menu descricao="Utilitários">
		<menu classeFabrica="br.com.persist.plugins.anotacao.AnotacaoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.fragmento.FragmentoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.mapeamento.MapeamentoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.variaveis.VariavelFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.plugins.requisicao.RequisicaoFabrica" ativo="true" />
		<menu classeFabrica="br.com.persist.comparacao.ComparacaoFabrica" ativo="false" />
		<menu classeFabrica="br.com.persist.runtime_exec.RuntimeExecFabrica" ativo="false" />
	</menu>

	<menu descricao="Configurações">
		<menu classeFabrica="br.com.persist.plugins.configuracao.ConfiguracaoFabrica" ativo="true" />
	</menu>

	<menu descricao="Ambientes">
		<menu classeFabrica="br.com.persist.plugins.ambiente.AmbienteFabrica" ativo="true" />
	</menu>

	<menu descricao="Aparência">
		<menu classeFabrica="br.com.persist.plugins.aparencia.AparenciaFabrica" ativo="true" />
	</menu>
</menuPrincipal>